In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

q1 = pd.read_csv('Placement_Data.csv')
q1.info()
q1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          215 non-null    object
 1   ssc_p           215 non-null    float64
 2   ssc_b           215 non-null    object
 3   hsc_p           215 non-null    float64
 4   hsc_b           215 non-null    object
 5   hsc_s           215 non-null    object
 6   degree_p        215 non-null    float64
 7   degree_t        215 non-null    object
 8   workex          215 non-null    object
 9   etest_p         215 non-null    float64
 10  specialisation  215 non-null    object
 11  mba_p           215 non-null    float64
 12  status          215 non-null    object
dtypes: float64(5), object(8)
memory usage: 22.0+ KB

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed

In [ ]:
#q1.head()
# # print(q1.info())
# # print(q1.shape[0])

# # number of placed candidates
# q1['status'].value_counts()
# q1[q1['status'] == 'Placed'].shape[0]

# #statistical summary of the dataset
#print(q1.describe())
#print(q1.describe().T)

# # distributionplot for Employability Score
# sns.set(rc={'figure.figsize':(10,5)}) 
# sns.set_style('whitegrid')
# sns.set_palette('dark')
#sns.displot(q1['etest_p'], kde=True, color='blue')
#sns.displot(q1['ssc_p'], kde=True, color='blue')
#sns.countplot(x='hsc_s', data=q1,hue='status', palette='dark') # hue='status' is a category varibale
# #use countplot to show the number of students in each category of hsc_s
#sns.countplot(x='hsc_s', data=q1) # hue='status' is a category varibale
# # Select only numerical columns for correlation
# numerical_columns = q1.select_dtypes(include=['float64', 'int64'])
# sns.heatmap(numerical_columns.corr(), annot=True, cmap='coolwarm', center=0)
#sns.boxplot(x='degree_p', y='hsc_s', hue ='hsc_s',  data=q1, palette='dark',legend=False,fill=False)
#sns.lineplot(x='ssc_p', y='hsc_p', hue ='status',  data=q1, palette='dark',legend=True)    
#sns.lmplot(x='ssc_p', y='hsc_p', hue ='status',  data=q1, palette='dark',legend=True)
#sns.countplot(x='degree_t', data=q1, hue='status', palette='dark') # hue='status' is a category varibale
#sns.histplot(data=q1, x='degree_p', kde=True, hue='status', palette='dark', color='blue')
#sns.scatterplot(x='ssc_p', y='etest_p', hue='status', data=q1, palette='dark')
# q1_not_placed = q1[q1['status'] == 'Not Placed']
# sns.countplot(x='ssc_p', data=q1_placed, hue='status', palette='dark') # hue='status' is a category varibale
#sns.histplot(data=q1_not_placed, x='ssc_p', kde=True, hue='status', palette='dark', color='blue')
#question, : true or false , 75% of not placed student have theier SSP less than 65%
#q1_not_placed['ssc_p'] < 65   
#(q1_not_placed[q1_not_placed['ssc_p'] < 65].shape[0] /q1_not_placed.shape[0])*100
#sns.boxplot(x='ssc_p', hue ='status',  data=q1, legend=True)

#sns.jointplot(x='ssc_p', y='degree_p', data=q1, kind='hex', cmap='Blues')
# sns.histplot(data=q1, x='etest_p', kde=True, hue='status', palette='dark', color='blue')
# q1['etest_p'].max()

#sns.barplot(x='degree_t', y='degree_p', hue ='status',  data=q1, palette='dark',legend=True)
#sns.catplot(x='degree_t', y='degree_p', hue ='status',  data=q1, palette='dark',legend=True)
#sns.rugplot( x='degree_p', hue ='status',  data=q1, palette='dark',legend=True)    
#sns.regplot(x='degree_p', y='degree_t', data=q1, palette='dark',legend=True)